<nav class="navbar navbar-fixed-top bg-primary">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4">
                <div class="navbar-text pull-left">
                    <a href="page-list.view.client.html">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                </div>
                <div class="hidden-sm hidden-xs">
                    <div class="navbar-text pull-right">
                        <span class="glyphicon glyphicon-plus"></span>
                    </div>
                    <a class="navbar-brand">
                        Pages
                    </a>
                </div>

            </div>
            <div class="col-sm-8">
                <div class="navbar-text pull-right">
                    <a href="page-list.view.client.html">
                        <span class="glyphicon glyphicon-ok"></span>
                    </a>
                </div>
                <a class="navbar-brand pull-left">
                    Edit Page
                </a>
            </div>

        </div>
    </div>
</nav>


<div class="container-fluid">
    <div class="row">
        <div>
            <div class="col-sm-4 hidden-xs hidden-sm side-border">
                <div class="extra-top-padding">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-xs-10">
                                    <a href="../widget/templates/widget-list.view.client.html">Blog Post</a>
                                </div>
                                <div class="col-xs-2">
                                    <a href="page-edit.view.client.html"><span class="glyphicon glyphicon-cog pull-right"></span></a>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-xs-10">
                                    <a href="../widget/templates/widget-list.view.client.html">Blogs</a>
                                </div>
                                <div class="col-xs-2">
                                    <a href="page-edit.view.client.html"><span class="glyphicon glyphicon-cog pull-right"></span></a>
                                </div>
                            </div>
                        </li>

                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-xs-10">
                                    <a href="../widget/templates/widget-list.view.client.html">Home</a>
                                </div>
                                <div class="col-xs-2">
                                    <a href="page-edit.view.client.html"><span class="glyphicon glyphicon-cog pull-right"></span></a>
                                </div>
                            </div>
                        </li>

                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-xs-10">
                                    <a href="../widget/templates/widget-list.view.client.html">About</a>
                                </div>
                                <div class="col-xs-2">
                                    <a href="page-edit.view.client.html"><span class="glyphicon glyphicon-cog pull-right"></span></a>
                                </div>
                            </div>
                        </li>

                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-xs-10">
                                    <a href="../widget/templates/widget-list.view.client.html">Contact Us</a>
                                </div>
                                <div class="col-xs-2">
                                    <a href="page-edit.view.client.html"><span class="glyphicon glyphicon-cog pull-right"></span></a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>


            <div class="col-sm-8">
                <div class="extra-top-padding">
                    <form>
                        <div class="form-group">
                            <label for="pageName">Name</label>
                            <input type="text" value="Blog Post" class="form-control" id="pageName" placeholder="Page Name">
                        </div>

                        <div class="form-group">
                            <label for="pageTitle">Title</label>
                            <input type="text" class="form-control" id="pageTitle" placeholder="Page Title">
                        </div>
                    </form>
                    <a class="btn btn-danger  btn-block"
                       href="page-list.view.client.html">Delete</a>
                </div>
            </div>
        </div>

    </div>

    <nav class="navbar navbar-fixed-bottom bg-primary">
        <div class="container-fluid">
            <div class="navbar-text pull-right">
                <a href="../user/templates/profile.view.client.html">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
        </div>
    </nav>
</div>
