<nav class="navbar navbar-fixed-top bg-primary">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4">
                <div class="navbar-text pull-left">
                    <a ng-click="model.goBack()">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>

                </div>
                <div class="hidden-sm hidden-xs">
                    <div class="navbar-text pull-right">
                        <a href="#/user/{{model.userId}}/website/new">
                            <span class="glyphicon glyphicon-plus"></span>
                        </a>
                    </div>
                    <a class="navbar-brand">
                        Websites
                    </a>
                </div>

            </div>
            <div class="col-sm-8">
                <div class="navbar-text pull-right">
                    <a ng-click="model.newSite(website)">
                        <span class="glyphicon glyphicon-ok"></span>
                    </a>
                </div>
                <a class="navbar-brand pull-left">
                    New Website
                </a>
            </div>

        </div>
    </div>
</nav>


<div class="container-fluid">
    <div class="row">
        <div>
            <div class="col-sm-4 hidden-xs hidden-sm side-border">
                <div class="extra-top-padding">
                    <ul class="list-group">
                        <li ng-repeat="website in model.websites" class="list-group-item">
                            <div class="row">
                                <div class="col-xs-10">
                                    <a href="/user/{{model.userId}}/website/{{website._id}}/page">
                                        {{website.name}}
                                    </a>
                                </div>
                                <div class="col-xs-2">
                                    <a href="#/user/{{website.developerId}}/website/{{website._id}}"><span class="glyphicon glyphicon-cog pull-right"></span></a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="extra-top-padding">

                    <div class="alert alert-danger"
                         ng-show="model.error">
                        {{model.error}}
                    </div>

                    <form>

                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text"
                                   class="form-control"
                                   id="name"
                                   ng-model="website.name"
                                   placeholder="Name">
                        </div>

                        <div class="form-group">
                            <label for="description">Description</label>
                            <textarea class="form-control"
                                      rows="7"
                                      id="description"
                                      ng-model="website.description"
                                      placeholder="Description"></textarea>
                        </div>

                    </form>
                </div>
            </div>
        </div>

    </div>

    <nav class="navbar navbar-fixed-bottom bg-primary">
        <div class="container-fluid">
            <div class="navbar-text pull-right">
                <a ng-click="model.goToProfile()">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
        </div>
    </nav>
</div>