<nav class="navbar navbar-fixed-top bg-primary">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4">
                <div class="navbar-text pull-left">
                    <a href="website-list.view.client.html">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>

                </div>
                <div class="hidden-sm hidden-xs">
                    <div class="navbar-text pull-right">
                        <span class="glyphicon glyphicon-plus"></span>
                    </div>
                    <a class="navbar-brand">
                        Websites
                    </a>
                </div>

            </div>
            <div class="col-sm-8">
                <div class="navbar-text pull-right">
                    <a href="website-list.view.client.html">
                        <span class="glyphicon glyphicon-ok"></span>
                    </a>
                </div>
                <a class="navbar-brand pull-left">
                    Edit Website
                </a>
            </div>

        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div>
            <div class="col-sm-4 hidden-xs hidden-sm side-border">
                <div class="extra-top-padding">
                    <ul class="list-group">
                        <li ng-repeat="website in model.websites" class="list-group-item">
                            <div class="row">
                                <div class="col-xs-10">
                                    <a href="../../page/page-list.html">
                                        {{website.name}}
                                    </a>
                                </div>
                                <div class="col-xs-2">
                                    <a href="website-edit.view.client.html"><span class="glyphicon glyphicon-cog pull-right"></span></a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="extra-top-padding">
                    <form>
                        <div class="form-group">
                            <label for="webName">Website Name</label>
                            <input type="text"
                                   ng-model="model.website.name"
                                   class="form-control"
                                   id="webName"
                                   placeholder="Website Name">
                        </div>

                        <div class="form-group">
                            <label for="webDesc">Website Description</label>
                            <textarea
                                    ng-model="model.website.description"
                                    class="form-control hide-overflow"
                                    rows="7"
                                    id="webDesc"
                                    placeholder="Website Description">
                            </textarea>
                        </div>
                    </form>
                    <a class="btn btn-danger  btn-block"
                       href="website-list.view.client.html">Delete</a>


                </div>
            </div>
        </div>

    </div>

    <nav class="navbar navbar-fixed-bottom bg-primary">
        <div class="container-fluid">
            <div class="navbar-text pull-right">
                <a href="../../user/templates/profile.view.client.html">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
        </div>
    </nav>
</div>