<nav class="navbar navbar-fixed-top bg-primary">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4">
                <div class="navbar-text pull-left">
                    <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                </div>
                <div class="hidden-sm hidden-xs">
                    <div class="navbar-text pull-right">
                        <span class="glyphicon glyphicon-plus"></span>
                    </div>
                    <a class="navbar-brand">
                        Pages
                    </a>
                </div>

            </div>
            <div class="col-sm-8">
                <div class="navbar-text pull-right">
                    <a ng-click="model.newPage(page)">
                        <span class="glyphicon glyphicon-ok"></span>
                    </a>
                </div>
                <a class="navbar-brand pull-left">
                    New Page
                </a>
            </div>

        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div>
            <div class="col-sm-4 hidden-xs hidden-sm side-border">
                <div class="extra-top-padding">
                    <ul class="list-group">
                        <li ng-repeat="page in model.pages" class="list-group-item">
                            <div class="row">
                                <div class="col-xs-10">
                                    <a href="../../page/templates/page-list.view.client.html">
                                        {{page.name}}
                                    </a>
                                </div>
                                <div class="col-xs-2">
                                    <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{page._id}}"><span class="glyphicon glyphicon-cog pull-right"></span></a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="extra-top-padding">
                    <form>
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text"
                                   class="form-control"
                                   id="name"
                                   ng-model="page.name"
                                   placeholder="Page Name">
                        </div>

                        <div class="form-group">
                            <label for="title">Title</label>
                            <input type="text"
                                   class="form-control"
                                   id="title"
                                   ng-model="page.title"
                                   placeholder="Page Title">
                        </div>

                        <div class="form-group">
                            <label for="description">Page Description</label>
                            <textarea
                                    ng-model="page.description"
                                    class="form-control hide-overflow"
                                    rows="7"
                                    id="description"
                                    placeholder="Page Description">
                            </textarea>
                        </div>

                    </form>
                </div>
            </div>
        </div>

    </div>

    <nav class="navbar navbar-fixed-bottom bg-primary">
        <div class="container-fluid">
            <div class="navbar-text pull-right">
                <a href="#/user/{{model.userId}}">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
        </div>
    </nav>
</div>